<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<div class="container section-home-discover" id="discover">
  <div class="row section-home-discover__intro">
    <div class="col-md-16 col-md-offset-4 text-center">
    </div>
  </div>
  <div class="row section-home-discover__sections">
    <div class="col-md-8 text-center section-home-discover__column">
      <img
        src="images/icons/dos-icon-discover.png"
        alt="Discover Open Source"
        />
      <h3>Discover Open Source</h3>
      <p>
        Demystify open source — understand the challenges and opportunities for your organisation.
      </p>
    </div>
    <div class="col-md-8 text-center section-home-discover__column">
      <img
        src="images/icons/dos-icon-understand.png"
        alt="Understand Open Source"
        />
      <h3>Understand Open Source</h3>
      <p>
        Access training materials that cover the ins and outs of open source management for organisations.
      </p>
    </div>
    <div class="col-md-8 text-center section-home-discover__column">
      <a href="/blueprint-ospos">
      <img
        src="images/icons/dos-icon-implement.png"
        alt="Implement Open Source"
        />
      </a>
      <h3><a href="/blueprint-ospos">Implement Open Source</a></h3>
      <p>
        Leverage the <a href="https://www.ow2.org/view/OSS_Governance/">OW2 Good Governance Initiative</a>
        to implement corporate-wide open source policies.
      </p>
    </div>
  </div>
</div>