<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<div class="container section-home-help" id="help">
  <div class="row">
    <div class="col-md-16 col-md-offset-4 text-center">
      <h2>Interested in joining the OSPO Alliance?</h2>
      <p>
        Sign our <a href="{{ "docs/statement_of_support.pdf" | absURL}}" target="_blank">statement of support</a> then send it to the <a href="mailto:ospo-zone-team@framalistes.org">team</a>. Don't forget to subscribe to the <a href="https://accounts.eclipse.org/mailing-list/ospo.zone">mailing list</a> and to introduce yourself to the community.
      </p>
    </div>
  </div>
</div>