<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<div class="container col-sm-24 text-center hosted-by">
  <div class="row">
    <p>
      The OSPO.Zone was launched by: 
      <a href="https://www.ow2.org/">OW2</a>, 
      <a href="https://www.eclipse.org/">Eclipse Foundation</a>, 
      <a href="https://openforumeurope.org/">OpenForum Europe</a>,
      and <a href="https://publiccode.net/">Foundation for Public Code</a>.
    </p>
    <p>
      Website hosted by the
      <a href="https://www.eclipse.org/">Eclipse Foundation</a>
    </p>
  </div>
</div>
